{{#each users}}
<li class="users__user">
    <h2 class="users__name">Name: {{name}}</h2>
    <p class="users__email">Email: {{email}}</p>
    <p class="users__age">Age: {{age}} years</p>
    <p class="users__city">City: {{city}}</p>
</li>
{{/each}}